<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @father.name %>
  <br />
  <strong>CPF:</strong>
  <%= @father.cpf %>
  <br />
  <strong>E-mail:</strong>
  <%= @father.email %>
  <br />
  <strong>Occupation:</strong>
  <%= @father.occupation_description %>
  <hr />
  <strong>Avatar:</strong>
  <%= image_tag @father.avatar.url(:medium) %>

</p>

  <hr>
  <ul>
    <% @father.children.each do |child| %>
	  <li><%= "#{child.name} - #{pegar_sexo(child.sex)}" %></li>
	<% end %>
  </ul>

<%= link_to 'Edit', edit_father_path(@father) %> |
<%= link_to 'Back', fathers_path %>
